$font-name:'Montserrat', sans-serif;

%box_style{
  background-color: #E0FFFF;
  border-radius: 15px;
  padding: 7px;
  margin: 10px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  border-color: #483D8B;
  width: 5%;
}

h1 {
  color: #0000CD;
  text-shadow: 2px 2px #4169E1;
}

#body1 {
  text-align: center;
  background-image: url('../images/cloud.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  font-family: $font-name;
  background-attachment: fixed;
}

#body2 {
  text-align: center;
  background-image: linear-gradient(45deg,#00BFFF,#F0FFF0);
  min-height: 1000px;
  margin: auto;
}

.box1{
  @extend %box_style;
  width: 50%;
}
  .box{
    @extend %box_style;
  }


input[type=submit] {
  background-color: #7CFC00;
  color: #556B2F;
  font-size: 1.1rem;
  border-radius: 15px;
  padding: 10px;
  margin: 25px auto 5px;
  width: auto;
}

input[type=submit]:hover {
  background-color: #00ff00;
}

.signup {
  font-family: $font-name;
  font-size: 1.2rem;
  font-weight: bold;
  color: #191970;
  margin: auto;
  position: relative;
  padding: 50px;
  width: 50%;
}

.link {
  color: #11999e;
  font-family: $font-name;
  text-decoration: none;
}

a:hover {
  color: #7fffd4;
}

footer{
  padding:20px;
}
